# Setting up

In [171]:
import sklearn
import pandas as pd
import numpy as np

input_prefix = "../input/anz_crash_20200903_fix/"
output_data = "../output/output_data.csv"

cas_fp = input_prefix + "Casualties.csv"
crash_fp = input_prefix + "Crash2.csv"
dt_fp = input_prefix + "DateTime.csv"
desc_fp = input_prefix + "Description.csv"
loc_fp = input_prefix + "Location2.csv"
veh_fp = input_prefix + "Vehicles.csv"

Crash.csv is the "central" csv file that the other csv files connect to.

Rows in crash.csv contain id values that link to description, datetime, location, casualties, and vehicles.

The dataset source is https://www.kaggle.com/datasets/mgray39/australia-new-zealand-road-crash-dataset?resource=download-directory&select=anz_crash_20200903_fix and the link contains a graphic which clearly explains how all the files link together.

In order to make this data usable, all the data needs to be combined using the id information.

# Combine all csv files together

In [172]:
cas_dat = pd.read_csv(cas_fp)
crash_dat = pd.read_csv(crash_fp)
dt_dat = pd.read_csv(dt_fp)
desc_dat = pd.read_csv(desc_fp)
loc_dat = pd.read_csv(loc_fp)
veh_dat = pd.read_csv(veh_fp)

# create new dataframe with features from datasets and crash data

data = pd.DataFrame(crash_dat)

# cross reference the feature data in crash with other datasets to build the new dataframe

try:
    data = data.merge(desc_dat[1:], on='description_id')
    data = data.merge(cas_dat[1:], on='casualties_id')
    data = data.merge(dt_dat[1:], on='date_time_id')
    data = data.merge(loc_dat[1:], on='lat_long')
    data = data.merge(veh_dat[1:], on='vehicles_id')
except KeyError as e:
    print(e)

print(desc_dat)
print(data)

         Unnamed: 0  description_id         severity speed_limit  midblock  \
0                 0               0  property_damage          60      True
1                 1               1  property_damage          40      True
2                 2               2  property_damage         100      True
3                 3               3  property_damage          60     False
4                 4               4  property_damage          60     False
...             ...             ...              ...         ...       ...
1519450     1519450         1519450   serious_injury         NaN      True
1519451     1519451         1519451  property_damage         NaN     False
1519452     1519452         1519452  property_damage         NaN     False
1519453     1519453         1519453  property_damage         NaN      True
1519454     1519454         1519454  property_damage         NaN      True

         intersection road_position_horizontal road_position_vertical  \
0               False                 straight                  level
1               False                 straight                  level
2               False                 straight                  slope
3                True                 straight                  level
4                True                 straight                  level
...               ...                      ...                    ...
1519450         False                      NaN                    NaN
1519451          True                      NaN                    NaN
1519452          True                      NaN                    NaN
1519453         False                      NaN                    NaN
1519454         False                      NaN                    NaN

        road_sealed road_wet weather          crash_type      lighting  \
0              True    False    fine         Right Angle      daylight
1              True    False    fine  Hit Parked Vehicle      daylight
2              True    False    fine               Other      daylight
3              True    False    fine            Rear End      daylight
4              True    False    fine            Rear End      daylight
...             ...      ...     ...                 ...           ...
1519450        True    False    fine                 NaN  darkness_lit
1519451        True    False    fine                 NaN      daylight
1519452        True    False    fine                 NaN      daylight
1519453        True    False    fine                 NaN      daylight
1519454        True    False    fine                 NaN      daylight

        traffic_controls drugs_alcohol  DCA_code comment
0                   none           NaN       NaN     NaN
1                   none           NaN       NaN     NaN
2                   none           NaN       NaN     NaN
3              stop_sign           NaN       NaN     NaN
4         traffic_lights           NaN       NaN     NaN
...                  ...           ...       ...     ...
1519450              NaN           NaN       NaN     NaN
1519451              NaN           NaN       NaN     NaN
1519452              NaN           NaN       NaN     NaN
1519453              NaN           NaN       NaN     NaN
1519454              NaN           NaN       NaN     NaN

[1519455 rows x 17 columns]
                        crash_id                                   lat_long  \
0           SA2012-17-21/08/2019  (-34.834629076665266, 138.62654823263517)
1         SA2012-1080-21/08/2019  (-34.834629076665266, 138.62654823263517)
2         SA2014-3013-21/08/2019  (-34.834629076665266, 138.62654823263517)
3         SA2015-1992-21/08/2019  (-34.834629076665266, 138.62654823263517)
4        SA2016-16154-15/08/2019  (-34.834629076665266, 138.62654823263517)
...                          ...                                        ...
1421330          VICT20120019239   (-37.01722331786804, 144.97862418177715)
1421331          VICT20170007986     (-36.7262865616775, 145.3395390420086)
1421332                WA8708517                   (-32.068782, 115.815641)
1421333                WA9367262                   (-32.126857, 115.854039)
1421334                WA9094382                   (-31.783307, 116.022491)

           date_time_id  description_id vehicles_id casualties_id  \
0           2012-1--3-6              16        1c1w          1c1m
1           2012-1--5-7            1079        1c1w          2c2m
2          2014-2--5-11           42516        1c1w          1c1m
3           2015-2--2-8           57657        1c1w          1c1m
4         2016-10--6-14           87250        1c1w          1c1m
...                 ...             ...         ...           ...
1421330   2012-8-23-4-9          208136    3c1u2v1T        3c1f2m
1421331  2017-4-21-5-12          276113      5c1u4w      3c1f1s1m
1421332   2014-1-6-1-17         1308960        2p4o           NaN
1421333    2016-8-4-4-8         1387285          8o           NaN
1421334   2015-8-30-7-8         1358914     1mc1b1o           NaN

         Unnamed: 0_x         severity speed_limit  midblock  ...  \
0                  16     minor_injury          60     False  ...
1                1079     minor_injury          60     False  ...
2               42516     minor_injury          60     False  ...
3               57657     minor_injury          60     False  ...
4               87250     minor_injury          60     False  ...
...               ...              ...         ...       ...  ...
1421330        208136         fatality         100      True  ...
1421331        276113         fatality          60      True  ...
1421332       1308960   serious_injury         NaN      True  ...
1421333       1387285     minor_injury         NaN      True  ...
1421334       1358914  property_damage         NaN      True  ...

         truck_large  bus taxi bicycle scooter pedestrian inanimate train  \
0                0.0  0.0  0.0     0.0     0.0        0.0       0.0   0.0
1                0.0  0.0  0.0     0.0     0.0        0.0       0.0   0.0
2                0.0  0.0  0.0     0.0     0.0        0.0       0.0   0.0
3                0.0  0.0  0.0     0.0     0.0        0.0       0.0   0.0
4                0.0  0.0  0.0     0.0     0.0        0.0       0.0   0.0
...              ...  ...  ...     ...     ...        ...       ...   ...
1421330          1.0  0.0  0.0     0.0     0.0        0.0       0.0   0.0
1421331          0.0  0.0  0.0     0.0     0.0        0.0       0.0   0.0
1421332          0.0  0.0  0.0     0.0     0.0        2.0       0.0   0.0
1421333          0.0  0.0  0.0     0.0     0.0        0.0       0.0   0.0
1421334          0.0  0.0  0.0     1.0     0.0        0.0       0.0   0.0

        tram vehicle_other
0        0.0           0.0
1        0.0           0.0
2        0.0           0.0
3        0.0           0.0
4        0.0           0.0
...      ...           ...
1421330  0.0           0.0
1421331  0.0           0.0
1421332  0.0           4.0
1421333  0.0           8.0
1421334  0.0           1.0

[1421335 rows x 60 columns]

# Drop Useless Data

Many columns are not useful here. Features such as street name and other geoloc data is not relevant. Therefore it should be dropped. Government data is also mostly irrelevant.

In [173]:
# dropping useless data

# specify which columns should be dropped

droppers = ['crash_id', 'lat_long', 'date_time_id', 'vehicles_id', 'description_id', 'casualties_id',
           'approximate', 'latitude', 'longitude', 'country', 'state', 'local_government_area', 'statistical_area',
           'suburb', 'Unnamed: 0_y', 'Unnamed: 0_x', 'comment', 'DCA_code', 'drugs_alcohol', 'day_of_month']

for x in droppers:
    data = data.drop(x, axis=1)

# Data analysis
Here we take a quick look at what our data now consists of. We see a preview of the data and some useful information about the dataset.

In [174]:
print(data.head())
print(data.info())

       severity speed_limit  midblock  intersection road_position_horizontal  \
0  minor_injury          60     False          True                 straight
1  minor_injury          60     False          True                 straight
2  minor_injury          60     False          True                 straight
3  minor_injury          60     False          True                 straight
4  minor_injury          60     False          True                 straight

  road_position_vertical road_sealed road_wet weather  crash_type  ...  \
0                  level        True    False    fine    Rear End  ...
1                  level        True    False    fine    Rear End  ...
2                  slope        True    False    fine    Rear End  ...
3                  level        True    False    fine    Rear End  ...
4                  level        True    False    fine  Right Turn  ...

  truck_large  bus  taxi  bicycle  scooter  pedestrian  inanimate  train  \
0         0.0  0.0   0.0      0.0      0.0         0.0        0.0    0.0
1         0.0  0.0   0.0      0.0      0.0         0.0        0.0    0.0
2         0.0  0.0   0.0      0.0      0.0         0.0        0.0    0.0
3         0.0  0.0   0.0      0.0      0.0         0.0        0.0    0.0
4         0.0  0.0   0.0      0.0      0.0         0.0        0.0    0.0

   tram  vehicle_other
0   0.0            0.0
1   0.0            0.0
2   0.0            0.0
3   0.0            0.0
4   0.0            0.0

[5 rows x 38 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1421335 entries, 0 to 1421334
Data columns (total 38 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   severity                  1421335 non-null  object
 1   speed_limit               638407 non-null   object
 2   midblock                  1421335 non-null  bool
 3   intersection              1421335 non-null  bool
 4   road_position_horizontal  458307 non-null   object
 5   road_position_vertical    458307 non-null   object
 6   road_sealed               892145 non-null   object
 7   road_wet                  892106 non-null   object
 8   weather                   1266983 non-null  object
 9   crash_type                252133 non-null   object
 10  lighting                  1266983 non-null  object
 11  traffic_controls          458307 non-null   object
 12  casualties                638413 non-null   float64
 13  fatalities                638413 non-null   float64
 14  serious_injuries          638413 non-null   float64
 15  minor_injuries            638413 non-null   float64
 16  year                      1421335 non-null  int64
 17  month                     1227905 non-null  float64
 18  day_of_week               1227905 non-null  float64
 19  hour                      1227905 non-null  float64
 20  animals                   1101698 non-null  float64
 21  car_sedan                 1101698 non-null  float64
 22  car_utility               1101698 non-null  float64
 23  car_van                   1101698 non-null  float64
 24  car_4x4                   1101698 non-null  float64
 25  car_station_wagon         1101698 non-null  float64
 26  motor_cycle               1101698 non-null  float64
 27  truck_small               1101698 non-null  float64
 28  truck_large               1101698 non-null  float64
 29  bus                       1101698 non-null  float64
 30  taxi                      1101698 non-null  float64
 31  bicycle                   1101698 non-null  float64
 32  scooter                   1101698 non-null  float64
 33  pedestrian                1101698 non-null  float64
 34  inanimate                 1101698 non-null  float64
 35  train                     1101698 non-null  float64
 36  tram                      1101698 non-null  float64
 37  vehicle_other             1101698 non-null  float64
dtypes: bool(2), float64(25), int64(1), object(10)
memory usage: 403.9+ MB
None

# Drop more columns
Now that we can see the non null counts, we can drop columns that do are not complete enough to be useful.

In [175]:
data = data.drop('road_position_horizontal', axis = 1)
data = data.drop('road_position_vertical', axis = 1)
data = data.drop('crash_type', axis = 1)
data = data.drop('traffic_controls', axis = 1)

print(data.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1421335 entries, 0 to 1421334
Data columns (total 34 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   severity           1421335 non-null  object
 1   speed_limit        638407 non-null   object
 2   midblock           1421335 non-null  bool
 3   intersection       1421335 non-null  bool
 4   road_sealed        892145 non-null   object
 5   road_wet           892106 non-null   object
 6   weather            1266983 non-null  object
 7   lighting           1266983 non-null  object
 8   casualties         638413 non-null   float64
 9   fatalities         638413 non-null   float64
 10  serious_injuries   638413 non-null   float64
 11  minor_injuries     638413 non-null   float64
 12  year               1421335 non-null  int64
 13  month              1227905 non-null  float64
 14  day_of_week        1227905 non-null  float64
 15  hour               1227905 non-null  float64
 16  animals            1101698 non-null  float64
 17  car_sedan          1101698 non-null  float64
 18  car_utility        1101698 non-null  float64
 19  car_van            1101698 non-null  float64
 20  car_4x4            1101698 non-null  float64
 21  car_station_wagon  1101698 non-null  float64
 22  motor_cycle        1101698 non-null  float64
 23  truck_small        1101698 non-null  float64
 24  truck_large        1101698 non-null  float64
 25  bus                1101698 non-null  float64
 26  taxi               1101698 non-null  float64
 27  bicycle            1101698 non-null  float64
 28  scooter            1101698 non-null  float64
 29  pedestrian         1101698 non-null  float64
 30  inanimate          1101698 non-null  float64
 31  train              1101698 non-null  float64
 32  tram               1101698 non-null  float64
 33  vehicle_other      1101698 non-null  float64
dtypes: bool(2), float64(25), int64(1), object(6)
memory usage: 360.6+ MB
None

# Drop rows with empty entries
Now that we have our feature selection shaved down, its time to drop the rows with empty data entries.

In [176]:
data = data.dropna(axis=0)
print(data.head())
print(data.info())
print(data.describe())

       severity speed_limit  midblock  intersection road_sealed road_wet  \
0  minor_injury          60     False          True        True    False
1  minor_injury          60     False          True        True    False
2  minor_injury          60     False          True        True    False
3  minor_injury          60     False          True        True    False
4  minor_injury          60     False          True        True    False

  weather  lighting  casualties  fatalities  ...  truck_large  bus  taxi  \
0    fine  daylight         1.0         0.0  ...          0.0  0.0   0.0
1    fine  daylight         2.0         0.0  ...          0.0  0.0   0.0
2    fine  daylight         1.0         0.0  ...          0.0  0.0   0.0
3    fine  daylight         1.0         0.0  ...          0.0  0.0   0.0
4    fine  daylight         1.0         0.0  ...          0.0  0.0   0.0

   bicycle  scooter  pedestrian  inanimate  train  tram  vehicle_other
0      0.0      0.0         0.0        0.0    0.0   0.0            0.0
1      0.0      0.0         0.0        0.0    0.0   0.0            0.0
2      0.0      0.0         0.0        0.0    0.0   0.0            0.0
3      0.0      0.0         0.0        0.0    0.0   0.0            0.0
4      0.0      0.0         0.0        0.0    0.0   0.0            0.0

[5 rows x 34 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 264613 entries, 0 to 1421327
Data columns (total 34 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   severity           264613 non-null  object
 1   speed_limit        264613 non-null  object
 2   midblock           264613 non-null  bool
 3   intersection       264613 non-null  bool
 4   road_sealed        264613 non-null  object
 5   road_wet           264613 non-null  object
 6   weather            264613 non-null  object
 7   lighting           264613 non-null  object
 8   casualties         264613 non-null  float64
 9   fatalities         264613 non-null  float64
 10  serious_injuries   264613 non-null  float64
 11  minor_injuries     264613 non-null  float64
 12  year               264613 non-null  int64
 13  month              264613 non-null  float64
 14  day_of_week        264613 non-null  float64
 15  hour               264613 non-null  float64
 16  animals            264613 non-null  float64
 17  car_sedan          264613 non-null  float64
 18  car_utility        264613 non-null  float64
 19  car_van            264613 non-null  float64
 20  car_4x4            264613 non-null  float64
 21  car_station_wagon  264613 non-null  float64
 22  motor_cycle        264613 non-null  float64
 23  truck_small        264613 non-null  float64
 24  truck_large        264613 non-null  float64
 25  bus                264613 non-null  float64
 26  taxi               264613 non-null  float64
 27  bicycle            264613 non-null  float64
 28  scooter            264613 non-null  float64
 29  pedestrian         264613 non-null  float64
 30  inanimate          264613 non-null  float64
 31  train              264613 non-null  float64
 32  tram               264613 non-null  float64
 33  vehicle_other      264613 non-null  float64
dtypes: bool(2), float64(25), int64(1), object(6)
memory usage: 67.1+ MB
None
          casualties     fatalities  serious_injuries  minor_injuries  \
count  264613.000000  264613.000000     264613.000000   264613.000000
mean        1.339012       0.021953          0.426196        0.890863
std         0.754959       0.162198          0.678919        0.803007
min         1.000000       0.000000          0.000000        0.000000
25%         1.000000       0.000000          0.000000        0.000000
50%         1.000000       0.000000          0.000000        1.000000
75%         1.000000       0.000000          1.000000        1.000000
max        32.000000       5.000000         22.000000       26.000000

                year          month    day_of_week           hour  \
count  264613.000000  264613.000000  264613.000000  264613.000000
mean     2009.927101       6.568079       3.930245      12.881570
std         5.238903       3.414260       1.924142       5.153966
min      2001.000000       1.000000       1.000000       0.000000
25%      2005.000000       4.000000       2.000000       9.000000
50%      2010.000000       7.000000       4.000000      13.000000
75%      2014.000000      10.000000       6.000000      17.000000
max      2018.000000      12.000000       7.000000      23.000000

             animals      car_sedan  ...    truck_large            bus  \
count  264613.000000  264613.000000  ...  264613.000000  264613.000000
mean        0.000964       1.474697  ...       0.072615       0.019066
std         0.031150       0.871894  ...       0.274232       0.138486
min         0.000000       0.000000  ...       0.000000       0.000000
25%         0.000000       1.000000  ...       0.000000       0.000000
50%         0.000000       1.000000  ...       0.000000       0.000000
75%         0.000000       2.000000  ...       0.000000       0.000000
max         2.000000      15.000000  ...       4.000000       2.000000

                taxi        bicycle        scooter     pedestrian  \
count  264613.000000  264613.000000  264613.000000  264613.000000
mean        0.002267       0.019629       0.001693       0.062204
std         0.048352       0.160918       0.041387       0.258954
min         0.000000       0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000       0.000000
50%         0.000000       0.000000       0.000000       0.000000
75%         0.000000       0.000000       0.000000       0.000000
max         2.000000       8.000000       2.000000      20.000000

           inanimate          train           tram  vehicle_other
count  264613.000000  264613.000000  264613.000000  264613.000000
mean        0.029794       0.000038       0.000026       0.024409
std         0.193963       0.006147       0.005143       0.159091
min         0.000000       0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000       0.000000
50%         0.000000       0.000000       0.000000       0.000000
75%         0.000000       0.000000       0.000000       0.000000
max         5.000000       1.000000       1.000000       4.000000

[8 rows x 26 columns]

# Convert alphanumeric values to numeric
We can see there are 6 object types that need to be converted, which are:
Severity,
Speed_limit,
Road_sealed,
Road_wet,
Weather,
Lighting

We need to see what are all the possible unique values in these columns

In [177]:
print(data['severity'].unique())
print(data['speed_limit'].unique())
print(data['road_sealed'].unique())
print(data['road_wet'].unique())
print(data['weather'].unique())
print(data['lighting'].unique())

['minor_injury' 'serious_injury' 'fatality']
[60 70 50 25 80 90 100 110 40 '60 km/h' '80 - 90 km/h' '0 - 50 km/h'
 '100 - 110 km/h' '70 km/h' 10 15 30 20 5]
[True False]
[False True]
['fine' 'rain' 'unknown' 'smoke_dust' 'fog']
['daylight' 'darkness_not_lit' 'darkness_lit' 'dawn_dusk' 'unknown']

Using the above output, we can convert these to numeric, boolean, or category types.

In [178]:
data['severity'] = data['severity'].astype('category')

# for speed limit we will round up for the value range
# 0-50 is too large of a range to account for however, we will need to drop these rows
data['speed_limit'].mask(data['speed_limit'] == '60 km/h', 60, inplace=True)
data['speed_limit'].mask(data['speed_limit'] == '80 - 90 km/h', 90, inplace=True)
data['speed_limit'].mask(data['speed_limit'] == '70 km/h', 70, inplace=True)
data['speed_limit'].mask(data['speed_limit'] == '100 - 110 km/h', 110, inplace=True)
data = data[data.speed_limit.isin(['0 - 50 km/h']) == False]
data['speed_limit'] = data['speed_limit'].astype('int64')

data['road_sealed'] = data['road_sealed'].astype('bool')

data['road_wet'] = data['road_wet'].astype('bool')

data['weather'] = data['weather'].astype('category')

data['lighting'] = data['lighting'].astype('category')

# we should take this chance to convert some of the float values to int
convert = ['casualties', 'fatalities', 'serious_injuries', 'minor_injuries', 'month', 'month',
          'day_of_week', 'animals', 'car_sedan', 'car_utility', 'car_van', 'car_4x4', 'car_station_wagon',
          'motor_cycle', 'truck_small', 'truck_large', 'bus', 'taxi', 'bicycle', 'scooter', 'pedestrian',
          'inanimate', 'train', 'tram', 'vehicle_other']

for x in convert:
    data[x] = data[x].astype('int64')

data.to_csv(output_data, index=False)
print(data.info())
print(data.head())
print(data.describe())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 230188 entries, 0 to 1421327
Data columns (total 34 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   severity           230188 non-null  category
 1   speed_limit        230188 non-null  int64
 2   midblock           230188 non-null  bool
 3   intersection       230188 non-null  bool
 4   road_sealed        230188 non-null  bool
 5   road_wet           230188 non-null  bool
 6   weather            230188 non-null  category
 7   lighting           230188 non-null  category
 8   casualties         230188 non-null  int64
 9   fatalities         230188 non-null  int64
 10  serious_injuries   230188 non-null  int64
 11  minor_injuries     230188 non-null  int64
 12  year               230188 non-null  int64
 13  month              230188 non-null  int64
 14  day_of_week        230188 non-null  int64
 15  hour               230188 non-null  float64
 16  animals            230188 non-null  int64
 17  car_sedan          230188 non-null  int64
 18  car_utility        230188 non-null  int64
 19  car_van            230188 non-null  int64
 20  car_4x4            230188 non-null  int64
 21  car_station_wagon  230188 non-null  int64
 22  motor_cycle        230188 non-null  int64
 23  truck_small        230188 non-null  int64
 24  truck_large        230188 non-null  int64
 25  bus                230188 non-null  int64
 26  taxi               230188 non-null  int64
 27  bicycle            230188 non-null  int64
 28  scooter            230188 non-null  int64
 29  pedestrian         230188 non-null  int64
 30  inanimate          230188 non-null  int64
 31  train              230188 non-null  int64
 32  tram               230188 non-null  int64
 33  vehicle_other      230188 non-null  int64
dtypes: bool(4), category(3), float64(1), int64(26)
memory usage: 50.7 MB
None